.field {
    background-color: rgb(252, 255, 255);
    border-radius: 0.5rem;
    height: 3.5rem;
    padding: 0.5rem 1rem;
}

.modal-content{
    background-color: rgb(206, 245, 245);
}

.btn-default{
    background-color: rgb(243, 253, 253);
}

/* this was found from a template on stack overflow at https://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries
*/
@media (max-width: 991px) {
    .otherButtons{
        margin-top: 1.5rem;
    }
}