body {
  background-color: rgb(0, 56, 77);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* this was found from a template on stack overflow at https://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries
*/
@media (max-width: 991px) {
  .otherButtons{
      margin-top: 1.5rem;
  }
  /* for landscape phone */
  body{
    min-height: 600px;
  }
}